ul.menu{  list-style:none;
  		width: 180px;}

ul.menu li { padding:10px;
 		 border:3px outset #E6E6FA;
 		 margin-bottom: 5px;}

a {		 color: #23594C;
 		 text-decoration: none;}

ul.menu li:hover { background-color:#bfbfbf;}
